body {
    display: flex;
    justify-content: center;
}

#gameWindow {
    margin-top: 10vh;
    border: solid 2px black;
    display: flex;
    flex-flow: column nowrap;
    width: 50vw;
    height: 30vh;
}

#status {
    border-bottom: solid 2px;
    display: flex;
    justify-content: space-evenly;
}

#btns {
    display: flex;
    justify-content: space-evenly;
    border: solid;
}

#playField {
    display: flex;
    flex-flow: column;
    border: solid red;
    height: 100%;
}

#winner {
    display: flex;
    justify-content: center;
}